<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="genshin_audio_exporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="genshin_audio_extractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <genshin_audio_exporter.Properties.Settings>
            <setting name="OutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateWav" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateMp3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateOgg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateFlac" serializeAs="String">
                <value>False</value>
            </setting>
        </genshin_audio_exporter.Properties.Settings>
        <genshin_audio_extractor.Properties.Settings>
            <setting name="PckFileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateWav" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateMp3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateOgg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateFlac" serializeAs="String">
                <value>False</value>
            </setting>
        </genshin_audio_extractor.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
