<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="genshin_audio_extractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <genshin_audio_extractor.Properties.Settings>
            <setting name="PckFileDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="CreateWav" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateMp3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateOgg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateFlac" serializeAs="String">
                <value>False</value>
            </setting>
        </genshin_audio_extractor.Properties.Settings>
    </userSettings>
</configuration>
